mitmproxy
beautifulsoup4==4.12.2
SQLAlchemy==2.0.17
quart
#pytest-playwright==0.3.3
PyYAML
Werkzeug==2.2.2
url-normalize
aiosqlite==0.19.0
httpx==0.24.1
quart-cors
Chepy
pytz
flatten-dict
dict2xml
xmltodict
dicttoxml
psycopg2-binary
psycopg2
psutil
hypercorn
asyncpg
aiocache[memcached]
grpc-interceptor
grpcio
python-json-logger==2.0.7
grpcio-tools
protobuf
requests-toolbelt
numpy
jsonschema